#logo svg {
  height: 42px;
  stroke: white;
  fill: white;
}

h1,
h2,
h3,
h4 {
  display: inline;
  font-size: 16px;
  font-weight: 600;
}

h1:not(:last-child)::after,
h2:not(:last-child)::after,
h3:not(:last-child)::after,
h4:not(:last-child)::after {
  content: ' // ';
  font-weight: 400;
  color: goldenrod;
}

nav:not(.side-nav) {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0;
}

nav:not(.side-nav) a {
  border: 1px solid grey;
  padding: 12px;
  margin: 6px;
}

.demo {
  margin: 24px 0;
}

.offscreen-button {
  border: 4px solid red;
  padding: 12px;
  position: fixed;
}

.offscreen-button.off-bottom {
  bottom: 30px;
  right: -50px;
}

.offscreen-button.off-top {
  top: 30px;
  left: -50px;
}

.content {
  display: flex;
  flex: 1;
}

iframe {
  height: 40vh;
}

.custom-button {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 5rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20rem;
}

.custom-button:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}
